body{
    font-family: 'Montserrat', sans-serif;
}


header{
    background: #BBBBBB;
    padding: 20px 0px; /*espacamento interno para cima e para baixo + esquerda direita*/
}

.cabecalho{
    width: 940px;
    position: relative; /*a posicao vai variar com a tela*/
    margin: 0 auto; /*cima baixo, esquerda direita*/
}

.imgprincipal{
    width: 250px;
}

nav{
    position: absolute; /*deixo a posicao das coisas onde eu quiser colocar */
    top: 125px;
    right: 0px;
}

nav li{
    display: inline; /*deixa as palavras da navegacao uma do lado da outra*/
    margin: 0 0 0 15px; /*cima, direita, baixo e esquerda*/
}

nav a{
    text-transform: uppercase; /*transforma a letra em maiusculo*/
    color: #530000;
    font-weight: bold; /*deixa o peso da letra em "bold" = negrito*/
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{ /*quando o mouse estiver por cima dos links "a" da navegação*/
    color: #C78C79;
    text-decoration: underline;
}

.listfundadores{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0px;
    text-align: center;
}

.listfundadores li{
    display: inline-block; /*isso faz com que a lista fique com os itens um do lado do outro*/
    text-align: center;
    width: 27%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; /*faz o espaçamento (padding) fique dentro do percentual (wigth)*/;
    border: 2.5px solid #000000;
    border-radius: 15px;
}

.listfundadores li:hover{
    border-color: #C78C79;
}

.listfundadores li:active{ /*quando vc clicar no item*/
    border-color: red;
}

.listfundadores li:hover h2{ /*quando o mouse estiver em cima da lista de fundadores, quero modificar o h2*/
    font-size: 25px;
}

.listfundadores h2{
    font-size: 21px;
    font-weight: bold;
    color: goldenrod;
    margin-bottom: 10px;
}

.ftfundadores{
    width: 150px;
    height: 150px;
}

.nick{
    font-size: 18px;
    font-weight: lighter;
    color: purple;
    margin-top: 5px;
}

.descricao{
    font-weight: bold;
    font-size: 18px;
    color: #530000;
    margin-top: 10px;
}

footer{
    background: url("bg.png");
    text-align: center;
}

.ftfinal{
    width: 250px;
}

.copyright{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 13px;
}

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{ /*a virgula serve para fazer a msm coisa nos dois forms, duas tags, etc (form input, form textarea{ })*/
    display: block;
    margin: 0 0 20px;
    padding: 6px 25px;
    width: 50%;
}

.checkbox {
    margin: 0px 0px;
}

.questioncheckbox {
    padding-top: 20px;
}

.enviar {
    width: 40%;
    padding: 15px 0px;
    color: #530000;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    transition: 2s all;
}

.enviar:hover {
    background: black;
    color: white;
    cursor: pointer;
    transform: scale(1.2)/*rotate(360deg), pesquisar mais transformações*/;
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #cccccc;
    color: black;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 8px 15px;
    text-align: center;
}

/*css da página inicial*/
.imgbanner{
    width: 40%;
    margin: 0 30% 0;
}

.texto-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;    
    color: #530000;
    clear: left;
    /*"clear left" limpa o float left que criei*/
    /*"em" significa o tamanho do texto base, portanto 2em faz com que o título principal fique duas vezes o tamanho do texto*/
}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
    color: #530000;
}

.principal em{
    font-style: italic;
}

.obs{
    font-size: 10px;
    text-align: end;
}

.pcgamer{
    width: 200px;
    float: left;
    margin: 0 20px 20px 0;
    /*float faz com que a imagem flutue e o texto fique ao seu redor, porém modifica toda página*/
}

.imgcampeoes{
    width: 70%;
}

/*para centralizar um texto dentro de uma div, basta fazer text-align center (centraliza texto inline)
caso, eu queira centralizar uma div inteira(block) eu preciso definir o width e deixar margin-left e margin-right no "auto"*/
